In [1]:
import pandas as pd

In [2]:
us_events = pd.read_csv("../Data/GDELT/USAEvents.csv")

In [3]:
us_events.shape

(6560601, 4)

In [4]:
us_events.head()

    SQLDATE  EventRootCode  GoldSteinScale  NumMentions
0  20050222             19           -10.0           10
1  20050224             19           -10.0            6
2  20050225             19           -10.0           10
3  20050225             19           -10.0            6
4  20050225              8             7.0           10

In [5]:
us_events.tail()

          SQLDATE  EventRootCode  GoldSteinScale  NumMentions
6560596  20230630              7             7.4           20
6560597  20230630              7             7.4           10
6560598  20230630             19           -10.0            6
6560599  20230630              8             7.0            8
6560600  20230630             19           -10.0           10

In [6]:
us_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6560601 entries, 0 to 6560600
Data columns (total 4 columns):
 #   Column          Dtype
---  ------          -----
 0   SQLDATE         int64
 1   EventRootCode   int64
 2   GoldSteinScale  float64
 3   NumMentions     int64
dtypes: float64(1), int64(3)
memory usage: 200.2 MB

In [7]:
us_events.EventRootCode = us_events.EventRootCode.astype(str)

In [8]:
us_events.SQLDATE = pd.to_datetime(us_events.SQLDATE, format="%Y%m%d")

In [9]:
us_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6560601 entries, 0 to 6560600
Data columns (total 4 columns):
 #   Column          Dtype
---  ------          -----
 0   SQLDATE         datetime64[ns]
 1   EventRootCode   object
 2   GoldSteinScale  float64
 3   NumMentions     int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 200.2+ MB

In [10]:
us_events.head()

     SQLDATE EventRootCode  GoldSteinScale  NumMentions
0 2005-02-22            19           -10.0           10
1 2005-02-24            19           -10.0            6
2 2005-02-25            19           -10.0           10
3 2005-02-25            19           -10.0            6
4 2005-02-25             8             7.0           10

In [11]:
us_events.tail()

           SQLDATE EventRootCode  GoldSteinScale  NumMentions
6560596 2023-06-30             7             7.4           20
6560597 2023-06-30             7             7.4           10
6560598 2023-06-30            19           -10.0            6
6560599 2023-06-30             8             7.0            8
6560600 2023-06-30            19           -10.0           10

In [12]:
us_events.index

RangeIndex(start=0, stop=6560601, step=1)

In [13]:
us_events= us_events.set_index('SQLDATE')

In [14]:
us_events.head()

           EventRootCode  GoldSteinScale  NumMentions
SQLDATE
2005-02-22            19           -10.0           10
2005-02-24            19           -10.0            6
2005-02-25            19           -10.0           10
2005-02-25            19           -10.0            6
2005-02-25             8             7.0           10

In [15]:
us_events.tail()

           EventRootCode  GoldSteinScale  NumMentions
SQLDATE
2023-06-30             7             7.4           20
2023-06-30             7             7.4           10
2023-06-30            19           -10.0            6
2023-06-30             8             7.0            8
2023-06-30            19           -10.0           10

In [16]:
us_events = us_events.resample('D').mean()

C:\Users\dawit\AppData\Local\Temp\ipykernel_13924\2733643143.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  us_events = us_events.resample('D').mean()

In [17]:
us_events.head()

            GoldSteinScale  NumMentions
SQLDATE
2005-02-22           -10.0         10.0
2005-02-23             NaN          NaN
2005-02-24           -10.0          6.0
2005-02-25            -1.5         11.5
2005-02-26             7.0         10.0

In [18]:
us_events.shape

(6703, 2)

Check Missing Values

In [19]:
missing_values_loc = pd.isna(us_events).any(axis=1)

missing_values = us_events[missing_values_loc]
missing_values.shape

(2313, 2)

In [20]:
us_events.fillna(0, inplace=True)

In [21]:
us_events.head()

            GoldSteinScale  NumMentions
SQLDATE
2005-02-22           -10.0         10.0
2005-02-23             0.0          0.0
2005-02-24           -10.0          6.0
2005-02-25            -1.5         11.5
2005-02-26             7.0         10.0

Renaming Columns

In [22]:
us_events.rename(columns={"GoldSteinScale": "USGoldSteinScale", "NumMentions": "USNumMentions"}, inplace=True)

In [23]:
us_events.shape

(6703, 2)

In [24]:
us_events.to_csv("prepared_events_US.csv", index="None")