In [1]:
import pandas as pd

In [2]:
gbr_events = pd.read_csv("../Data/GDELT/GBREvents.csv")

In [3]:
gbr_events.shape

(1161776, 4)

In [4]:
gbr_events.head()

    SQLDATE  EventRootCode  GoldSteinScale  NumMentions
0  20050425             18            -9.0           10
1  20050426             18            -9.0           10
2  20050502              8             7.0           10
3  20050522              8             7.0           10
4  20050621             19           -10.0            6

In [5]:
gbr_events.tail()

          SQLDATE  EventRootCode  GoldSteinScale  NumMentions
1161771  20230630              8            10.0            6
1161772  20230630             19           -10.0            6
1161773  20230630             19           -10.0           16
1161774  20230630              4             7.0            6
1161775  20230630              7             7.0            6

In [6]:
gbr_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1161776 entries, 0 to 1161775
Data columns (total 4 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   SQLDATE         1161776 non-null  int64
 1   EventRootCode   1161776 non-null  int64
 2   GoldSteinScale  1161776 non-null  float64
 3   NumMentions     1161776 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 35.5 MB

In [7]:
gbr_events.EventRootCode = gbr_events.EventRootCode.astype(str)

In [8]:
gbr_events.SQLDATE = pd.to_datetime(gbr_events.SQLDATE, format="%Y%m%d")

In [9]:
gbr_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1161776 entries, 0 to 1161775
Data columns (total 4 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   SQLDATE         1161776 non-null  datetime64[ns]
 1   EventRootCode   1161776 non-null  object
 2   GoldSteinScale  1161776 non-null  float64
 3   NumMentions     1161776 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 35.5+ MB

In [10]:
gbr_events.head()

     SQLDATE EventRootCode  GoldSteinScale  NumMentions
0 2005-04-25            18            -9.0           10
1 2005-04-26            18            -9.0           10
2 2005-05-02             8             7.0           10
3 2005-05-22             8             7.0           10
4 2005-06-21            19           -10.0            6

In [11]:
gbr_events.tail()

           SQLDATE EventRootCode  GoldSteinScale  NumMentions
1161771 2023-06-30             8            10.0            6
1161772 2023-06-30            19           -10.0            6
1161773 2023-06-30            19           -10.0           16
1161774 2023-06-30             4             7.0            6
1161775 2023-06-30             7             7.0            6

In [12]:
gbr_events.index

RangeIndex(start=0, stop=1161776, step=1)

In [13]:
gbr_events= gbr_events.set_index('SQLDATE')

In [14]:
gbr_events.head()

           EventRootCode  GoldSteinScale  NumMentions
SQLDATE
2005-04-25            18            -9.0           10
2005-04-26            18            -9.0           10
2005-05-02             8             7.0           10
2005-05-22             8             7.0           10
2005-06-21            19           -10.0            6

In [15]:
gbr_events.tail()

           EventRootCode  GoldSteinScale  NumMentions
SQLDATE
2023-06-30             8            10.0            6
2023-06-30            19           -10.0            6
2023-06-30            19           -10.0           16
2023-06-30             4             7.0            6
2023-06-30             7             7.0            6

In [16]:
gbr_events = gbr_events.resample('D').mean()

C:\Users\dawit\AppData\Local\Temp\ipykernel_1624\848105462.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gbr_events = gbr_events.resample('D').mean()

In [17]:
gbr_events.head()

            GoldSteinScale  NumMentions
SQLDATE
2005-04-25            -9.0         10.0
2005-04-26            -9.0         10.0
2005-04-27             NaN          NaN
2005-04-28             NaN          NaN
2005-04-29             NaN          NaN

In [18]:
gbr_events.shape

(6641, 2)

Check Missing Values

In [19]:
missing_values_loc = pd.isna(gbr_events).any(axis=1)

missing_values = gbr_events[missing_values_loc]
missing_values.shape

(3054, 2)

In [20]:
gbr_events.fillna(0, inplace=True)

In [21]:
gbr_events.head()

            GoldSteinScale  NumMentions
SQLDATE
2005-04-25            -9.0         10.0
2005-04-26            -9.0         10.0
2005-04-27             0.0          0.0
2005-04-28             0.0          0.0
2005-04-29             0.0          0.0

Renaming Columns

In [22]:
gbr_events.rename(columns={"GoldSteinScale": "GBRGoldSteinScale", "NumMentions": "GBRNumMentions"}, inplace=True)

In [23]:
gbr_events.head()

            GBRGoldSteinScale  GBRNumMentions
SQLDATE
2005-04-25               -9.0            10.0
2005-04-26               -9.0            10.0
2005-04-27                0.0             0.0
2005-04-28                0.0             0.0
2005-04-29                0.0             0.0

In [24]:
gbr_events.shape

(6641, 2)

In [25]:
gbr_events.to_csv("prepared_events_GBR.csv", index="None")