In [1]:
import pandas as pd

Loading Prepared Data

In [2]:
gbpusd = pd.read_csv("prepared_Forex_GBPUSD.csv")

In [3]:
us_events = pd.read_csv("prepared_events_US.csv")

In [4]:
gbr_events = pd.read_csv("prepared_events_GBR.csv")

Checking the start and dates of the data

In [5]:
gbpusd.head(2)

         Date      Open      High       Low     Close  Adj Close
0  2005-01-03  1.919791  1.919791  1.900490  1.904617   1.904617
1  2005-01-04  1.904617  1.908506  1.878816  1.883594   1.883594

In [6]:
us_events.head(2)

      SQLDATE  USGoldSteinScale  USNumMentions
0  2005-02-22             -10.0           10.0
1  2005-02-23               0.0            0.0

In [7]:
gbr_events.head(2)

      SQLDATE  GBRGoldSteinScale  GBRNumMentions
0  2005-04-25               -9.0            10.0
1  2005-04-26               -9.0            10.0

Rename SQLDATE column for convenience

In [8]:
us_events.rename(columns={"SQLDATE":"Date"}, inplace=True)
gbr_events.rename(columns={"SQLDATE":"Date"}, inplace=True)

Droping data before '2005-05-01'

In [9]:
gbpusd['Date'] = pd.to_datetime(gbpusd['Date'])
us_events['Date'] = pd.to_datetime(us_events['Date'])
gbr_events['Date'] = pd.to_datetime(gbr_events['Date'])

# Filter rows with dates on or after '2005-05-01'
gbpusd = gbpusd[gbpusd['Date'] >= '2005-05-01']
us_events = us_events[us_events['Date'] >= '2005-05-01']
gbr_events = gbr_events[gbr_events['Date'] >= '2005-05-01']

In [10]:
gbpusd.head(2)

          Date      Open      High       Low     Close  Adj Close
118 2005-05-01  1.906214  1.906614  1.893186  1.894801   1.894801
119 2005-05-02  1.906214  1.906614  1.893186  1.894801   1.894801

In [11]:
us_events.head(2)

         Date  USGoldSteinScale  USNumMentions
68 2005-05-01               0.0            0.0
69 2005-05-02             -10.0           10.0

In [12]:
gbr_events.head(2)

        Date  GBRGoldSteinScale  GBRNumMentions
6 2005-05-01                0.0             0.0
7 2005-05-02                7.0            10.0

Checking End Date

In [13]:
gbpusd.tail(2)

           Date      Open      High       Low     Close  Adj Close
6751 2023-06-29  1.264127  1.266592  1.259256  1.264254   1.264254
6752 2023-06-30  1.261495  1.272621  1.260144  1.261464   1.261464

In [14]:
us_events.tail(2)

           Date  USGoldSteinScale  USNumMentions
6701 2023-06-29          0.522759       9.093127
6702 2023-06-30          0.899347       9.083835

In [15]:
gbr_events.tail(2)

           Date  GBRGoldSteinScale  GBRNumMentions
6639 2023-06-29           0.740120        9.562874
6640 2023-06-30           0.911852        9.548148

Check Data Size

In [16]:
gbpusd.shape

(6635, 6)

In [17]:
us_events.shape

(6635, 3)

In [18]:
gbr_events.shape

(6635, 3)

Set 'Date' as index for each DataFrame

In [19]:
gbpusd.set_index('Date', inplace=True)
us_events.set_index('Date', inplace=True)
gbr_events.set_index('Date', inplace=True)

Check if the dates are aligned

In [20]:
dates_aligned = (gbpusd.index.equals(us_events.index) and us_events.index.equals(gbr_events.index))

print(dates_aligned)

True

Merging the data frames to one

In [21]:
merged_GBPUSD = pd.concat([gbpusd, us_events, gbr_events], axis=1)

In [22]:
merged_GBPUSD.head()

,Open,High,Low,Close,Adj Close,USGoldSteinScale,USNumMentions,GBRGoldSteinScale,GBRNumMentions
Date,,,,,,,,,
2005-05-01,1.906214,1.906614,1.893186,1.894801,1.894801,0.0,0.0,0.0,0.0
2005-05-02,1.906214,1.906614,1.893186,1.894801,1.894801,-10.0,10.0,7.0,10.0
2005-05-03,1.895016,1.895483,1.889288,1.893688,1.893688,0.0,0.0,0.0,0.0
2005-05-04,1.893509,1.903203,1.893007,1.902117,1.902117,0.0,0.0,0.0,0.0
2005-05-05,1.902117,1.907414,1.899985,1.902515,1.902515,0.0,0.0,0.0,0.0

In [23]:
merged_GBPUSD.tail()

,Open,High,Low,Close,Adj Close,USGoldSteinScale,USNumMentions,GBRGoldSteinScale,GBRNumMentions
Date,,,,,,,,,
2023-06-26,1.273253,1.274827,1.268971,1.272961,1.272961,0.452791,9.052184,-0.045151,9.939799
2023-06-27,1.270923,1.275917,1.270487,1.271197,1.271197,0.458606,8.961518,1.424671,10.513158
2023-06-28,1.274454,1.275136,1.260827,1.274470,1.274470,0.817137,8.968750,-0.143034,9.597523
2023-06-29,1.264127,1.266592,1.259256,1.264254,1.264254,0.522759,9.093127,0.740120,9.562874
2023-06-30,1.261495,1.272621,1.260144,1.261464,1.261464,0.899347,9.083835,0.911852,9.548148

In [24]:
merged_GBPUSD.to_csv("prepared_with_events_GBPUSD.csv", index="None")